<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Secure</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>  
  <body class="bg-gray-200">
    <div class="container mx-auto pt-10">
      
    
    <div class="mx-auto max-w-xs">
      <h1 class="font-bold text-gray-900 not-italic text-2xl text-center">
      Login
      </h1>
  <form class="bg-white shadow rounded px-8 pt-6 pb-8 mb-4 mt-4" action="/login" method="post">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Username
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" placeholder="Username" type="text" name="username">
    </div>
    <div class="mb-6">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
        Password
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" placeholder="******************" type="password" name="password">
    </div>
    <div class="flex items-center justify-between">
      <button class="bg-indigo-700 hover:bg-indigo-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
        Sign In
      </button>
      <a class="inline-block align-baseline text-sm text-gray-700 hover:text-blue-800 hover:underline" href="#">
        Request Account
      </a>
    </div>
  </form>
  <p class="text-center text-gray-500 text-xs">
    &copy;2019 STEEL&trade; Corp. All rights reserved.
  </p>
</div></div>
  </body>
</html>
